main section:nth-child(2n) {
  background-color: turquoise;
}

main section:nth-child(2n+1) {
  background-color: lightpink;
}

/* Grid: AREAS */
main{
  display: grid;
  gap: 0.5rem;
  grid-template-areas: "a a a a a a" 
                       "b b b c c c"
                       "d d e e f f"
                       "g g g h h h";
}

section{
  padding: 20px;
  border: 0.5px solid black;
  text-align: center;
  font-weight: bold;
  font-size: 20px
}

#datosgenerales{
  grid-area: a;
}

#habilidadespersonales{
  grid-area: b;
}

#conocimientos{
  grid-area: c;
}

#trabajosanteriores{
  grid-area: d;
}

#habilidadesprogramacion{
  grid-area: e;
}

#proyectosanteriores{
  grid-area: f;
}

#idiomas{
  grid-area: g;
}

#medioscontacto{
  grid-area: h;
}